.container-fluid{
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  
  
}
.container-justify{
  margin-left: 100px;
 
  
}
.navbar-style{
  margin: 5px;
  margin-right: 100px;
}
.website-template{
  margin-top: 100px;
  width: 100%;
  display: block;
  justify-content: center;
  text-align: center;
 
}
.website-template h1{
  color: rgb(46, 46, 100);
}
.website-template p{
  color: grey;
}
.column-restore{
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 10px;
  border: none;
  
 
}
.card{
  border: 0cm;
  margin: 10px;
  background-color: rgb(43, 83, 83);
 float: right;
}
.card-body{
  background-color: white;
  border: none;


}
.card-body i{
  width: 40px;
  margin-bottom: 5px;
  text-align: center;
  

}
.card-body h5{
  color: blue;
  font-size: 25px;
  
}

 
